@using System.Web.Mvc.Html
@using StudentLeaf.Models
@model List<StudentLeaf.Models.Student>
@{
    ViewBag.Title = "Index";
}


<h2>Students</h2>

<div class="btn btn-primary">@Html.ActionLink("New Student", "CreateNewStudent", "Student", new { @style = "color:white; font-weight:bold;" })</div>
<div class="form-horizontal">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> Student Name </th>
                <th> Lesson Plan </th>
                <th> Edit/Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@Html.ActionLink(s.Name, "Detail", new { id = s.Id })</td>
                   
                    <td>@Html.ActionLink("History", "History", new { id = s.Id })</td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = s.Id }) /
                        @Html.ActionLink("Delete", "Delete", new { id = s.Id })
                    </td>

                </tr>
            }
        </tbody>
      </table>
</div>